.videoHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    color: white;
}
.videoHeader > h3{
    font-size: 22px;
}
.videoHeader > * {
    padding: 20px;
}