.videoFooter{
    position: relative;
    bottom: 180px;
    color: white;
    display: flex;
    padding: 10px;
    margin-left: 20px;
}

.videoFooter__record{
   animation: spinTheRecord infinite 5s linear;
   height: 50px;
   filter: invert(1);
   position: absolute;
   bottom: 30px;
   right: 20px;
}

.videoFooter_avtar{
  display: flex;
}
.videoFooter_avtar > h3{
  margin-left: 10px;
  margin-bottom: 20px;
}

.videoFooter_avtar > h3 > button{
  color: white;
  font-weight: 900;
  text-transform: inherit;
  margin-left: 10px;
  border-color: white;
  border-radius: 5px;
} 

.videoFooter_avtar > h3 > button:hover{
  border-color: white;
}

.videoFooter__text{
    flex: 1;
}

.videoFooter__text p{
  padding-bottom: 20px;
}


.videoFooter__ticker > .ticker{
   height: fit-content;
   margin-left: 30px;
   width: 60%;
}

.videoFooter__icon{
   position: absolute;
}

.videoFooter__ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 60%;
}

.videoFooter__text > h3 {
  padding-bottom: 20px;
}

.videoFooter__ticker h1 {
  padding-top: 7px;
}

@keyframes spinTheRecord {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }