html {
  scroll-snap-type: y mandatory;
}

.app{
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos{
  position: relative;
  height: 800px;
  overflow-y: scroll;
  /* width: 80%; */
  max-width: 500px;
  max-height: 100vh;
  scroll-snap-type: y mandatory;
  /* border-radius: 20px; */
}
video{
  scroll-snap-align: start;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.app__videos {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}